body{
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: rgb(56, 95, 95);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: larger;

}
img{

    height: 10px;
    width: 10px;
}